version: '3.8'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm.json:ro

  solicitudes:
    build:
      context: ../service-solicitudes
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - keycloak